.secrets/
.vscode/

# uncomment to ignore environment files. this is a common practice to avoid committing sensitive information
# .env
# .devcontainer/.env


# -- ignore dbt runtime artifacts
dbt_tweber/target/
dbt_tweber/dbt_packages/
dbt_tweber/logs/
dbt_tweber/.user.yml