# .devcontainer/requirements.txt
pyspark==3.5.0
jupyter

# For Postgres
SQLAlchemy 
psycopg2-binary 

# Data Science libraries
pandas
numpy
matplotlib 
seaborn

# dbt core with Postgres adapter
#dbt-core
#dbt-postgres
#eliminated because of conflicts with psycopg2-binary and airflow
#install in airflow Dockerfile instead